<html>
  <head>
    <script src="/asset/signup.js"></script>
    <link rel="stylesheet" href="/asset/bundle.css" />
    <title>Sign Up</title>
  </head>
  <body>
    <div class="forumPost">
      <div class="forumPost-field-box">
        <button id="Go_Back">
          <p>X Go Back</p>
        </button>
        <div class="ForumMain">
          <img class="ProfilePic" src="/asset/signup-arrow" />
          <p class="ForumInfo">Posted by username xxx hours ago</p>
          <h1 class="TitleBox">Title: Null</h1>
          <div clas="flair">
            <p class="flair.text">Flair</p>
          </div>
          <div class="desc">
            <p class="descText">Description</p>
          </div>
          <div class="LocData">
            <p class="LocDataText">
              04/23/2024 <br />
              12:30 PM to 5:30 PM <br />At location <br />Zipcode<br />127
            </p>
            <img class="check" src="/asset/Vector.png" />
            <img class="circ" src="/asset/check-circle 1.png" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
