<html>
  <head>
    <title>Join Us</title>
    <link rel="stylesheet" href="/asset/bundle.css" />
  </head>

  <body>
    <div class="login">
      <div class="login-field-box">
        <h1>About Us</h1>
        <img id="linedecor" src="/asset/signup-linedecor1.png" />
        <div id="blurbcontainer">
          <p id="blurb">
            EcoConnect: The online platform uniting individuals, organizations,
            and communities for environmental action.
          </p>
          <p id="blurb">
            Connect, collaborate, and make a positive impact on the health of
            our planet.
          </p>
          <p id="blurb">
            Join a passionate community, access resources, and participate in
            community service projects to create a greener, healthier future.
          </p>
        </div>
        <button onclick="window.location.href='/signup'" class="login-button">
          <img src="/asset/signup-arrow.png" />
        </button>
      </div>
    </div>
  </body>
</html>
