<html>
  <head>
    <script src="/asset/signup.js"></script>
    <link rel="stylesheet" href="/asset/bundle.css" />
    <title>Sign Up</title>
  </head>
  <body>
    <div class="signup">
      <div class="signup-field-box">
        <button id="Go_Back">
          <p>X Go Back</p>
        </button>
        <div>
          <img src="/asset/signup-arrow" />
          <p>Posted by username xxx hours ago</p>
          <h1>Title: Null</h1>
          <div>
            <p>Flair</p>
          </div>
          <div>
            <p>Description</p>
          </div>
          <div>
            <p>
              04/23/2024 <br />
              12:30 PM to 5:30 PM <br />At location <br />Zipcode<br />127
            </p>
            <img src="/asset/Vector.png" />
            <img src="/asset/check-circle 1.png" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
