<html>
  <head>
    <script src="/asset/bundle.js"></script>
    <link rel="stylesheet" href="/asset/bundle.css" />
    <title>Leaderboard</title>
  </head>
  <body>
    <div class="box">
      <div class="twitter-post-1 screen">
        <div class="overlap-group1">
          {# <img class="line-1" src="line-1.svg" alt="Line 1" /> #}
          <h1 class="title">Leader board &amp; Badges</h1>
        </div>
        <div class="flex-row">
          <div class="flex-col">


          <div class="overlap-group-container">
            <div class="overlap-group">
              <div class="rectangle"></div>
              <div class="mmmmmmmmmmmm josefinsans-normal-white-36px">
                mmmmmmmmmmmm
              </div>
              <div class="ptss josefinsans-normal-white-36px">ptss</div>
            </div>
            <div class="overlap-group">
              <div class="rectangle"></div>
              <div class="mmmmmmmmmmmm josefinsans-normal-white-36px">
                mmmmmmmmmmmm
              </div>
              <div class="ptss josefinsans-normal-white-36px">ptss</div>
            </div>
            <div class="overlap-group">
              <div class="rectangle"></div>
              <div class="mmmmmmmmmmmm josefinsans-normal-white-36px">
                mmmmmmmmmmmm
              </div>
              <div class="ptss josefinsans-normal-white-36px">ptss</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
