<html>
  <head>
    <script src="/asset/bundle.js"></script>
    <link rel="stylesheet" href="/asset/bundle.css" />
    <title>Leaderboard</title>
  </head>
  <body>
    <div class="box">
      <div class="twitter-post-1 screen">
        <div class="overlap-group1">
          {# <img class="line-1" src="line-1.svg" alt="Line 1" /> #}
          <h1 class="title">Leaderboard </h1>
        </div>


          <div class="overlap-group-container">
            <div class="overlap-group">
              <img class="rectangle" src="/asset/5.png"></img>
              <div class="mmmmmmmmmmmm josefinsans-normal-white-36px">
                piman.dev
              </div>
              <div class="ptss josefinsans-normal-white-36px">250 pts</div>
            </div>
            <div class="overlap-group">
             <img class="rectangle" src="/asset/5.png"></img>
              <div class="mmmmmmmmmmmm josefinsans-normal-white-36px">
                yeti
              </div>
              <div class="ptss josefinsans-normal-white-36px">140 pts</div>
            </div>
            <div class="overlap-group">
              <img class="rectangle" src="/asset/5.png"></img>
              <div class="mmmmmmmmmmmm josefinsans-normal-white-36px">
                zavii
              </div>
              <div class="ptss josefinsans-normal-white-36px">90 pts</div>
            </div>
          </div>

    </div>
  </body>
</html>
