<html>
  <head>
    <script src="/asset/bundle.js"></script>
    <link rel="stylesheet" href="/asset/bundle.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="login">
      <div class="login-field-box">
        <h1>Login</h1>
        <img id="linedecor" src="/asset/login_linedecor.png" />
        <input id="username-input" type="text" placeholder="Username" />
        <input id="pwd-input" type="password" placeholder="Password" />
        <button>
          <img src="/asset/signup-arrow.png" />
        </button>
      </div>
    </div>
  </body>
</html>
