<html>
  <head>
    <script src="/asset/login.js"></script>
    <link rel="stylesheet" href="/asset/bundle.css" />
    <title>Login</title>
  </head>
  <body>
    {% if user != "none" %}
    <script>
      window.location.href = "/forum";
    </script>
    {% endif %}

    <div class="login">
      <div class="login-field-box">
        <h1>Login</h1>
        <img id="linedecor" src="/asset/signup-linedecor1.png" />
        <p id="warningtext">This is warning text!</p>
        <input id="username-input" type="text" placeholder="Username" />
        <input id="pwd-input" type="password" placeholder="Password" />
        <button id="submit">
          <img src="/asset/signup-arrow.png" />
        </button>
      </div>
    </div>
  </body>
</html>
