<html>
  <head>
    <script src="/asset/post.js"></script>
    <link rel="stylesheet" href="/asset/bundle.css" />
    <title>Login</title>
  </head>
  <body class="post">
    <div class="post-container">
      <button class="return">
        <p>Go Back</p>
      </button>

      <div class="post-body">
        <div class="top">
          <img class="profileimg" src="/asset/1.png" />
          <p>Posted by username - xx hours ago</p>
          <h1>Title - nullnullnullnullnullnull</h1>

          <div class="description">
            <p>Description here</p>
          </div>
        </div>
      </div>

      <div class="infobox">
        <div>
          <p>04/23/2024</p>
          <p>12:30 AM to 5:30 PM</p>
          <p>At Location</p>
          <p>30341</p>
          <p>127 Attending</p>
        </div>
      </div>
    </div>
  </body>
</html>
