<html>
  <head>
    <script src="/asset/bundle.js"></script>
    <link rel="stylesheet" href="/asset/bundle.css" />
    <title>Profile</title>
  </head>

  <body>
    <div class="e18_14">
      <div class="e76_107">
        <div class="e76_106">
          <div class="e76_103">
            <div class="e18_65">
              <div class="e18_67"></div>
              <div class="e18_93"></div>
              <div class="e18_72"></div>
              <div class="e18_94"></div>
              <span class="e18_71">date</span
              ><span class="e18_66">~Upcoming~</span>
              <div class="e18_97"></div>
              <span class="e18_70">title </span>
              <div class="e18_78"></div>
              <div class="e18_99"></div>
              <div class="e18_104"></div>
              <div class="e18_79"></div>
              <div class="e18_100"></div>
              <span class="e18_80">date</span><span class="e18_82">title </span>
              <div class="e18_73"></div>
              <div class="e18_103"></div>
              <div class="e18_74"></div>
              <span class="e18_75">date</span><span class="e18_77">title </span>
              <div class="e18_87">
                <div class="e52_49">
                  <div class="e52_50"></div>
                </div>
              </div>
              <div class="e52_51">
                <div class="e52_52"></div>
              </div>
              <span class="e18_86">696</span><span class="e52_47">696</span
              ><span class="e52_48">696</span>
              <div class="e18_84">
                <div class="e18_85"></div>
              </div>
              <div class="e40_11"></div>
            </div>
          </div>
        </div>
        <div class="e76_105">
          <div class="e76_104">
            <div class="e31_67">
              <div class="e31_68"></div>
              <div class="e31_69"></div>
              <div class="e31_70"></div>
              <div class="e31_71"></div>
              <span class="e31_72">date</span
              ><span class="e31_73">~My Projects~</span>
              <div class="e31_74"></div>
              <span class="e31_75">title </span>
              <div class="e31_76"></div>
              <div class="e31_77"></div>
              <div class="e31_78"></div>
              <div class="e31_79"></div>
              <span class="e31_80">date</span><span class="e31_84">title </span>
              <div class="e31_85"></div>
              <div class="e31_86"></div>
              <div class="e31_87"></div>
              <div class="e31_88"></div>
              <span class="e31_89">date</span><span class="e31_90">title </span>
              <div class="e31_91">
                <div class="e31_100">
                  <div class="e31_101">
                    <div class="e31_102"></div>
                  </div>
                </div>
              </div>
              <div class="e31_92">
                <div class="e31_93">
                  <div class="e31_94"></div>
                </div>
              </div>
              <span class="e31_95">696</span>
              <div class="e31_96">
                <div class="e31_97">
                  <div class="e31_98"></div>
                </div>
              </div>
              <div class="e40_12"></div>
              <span class="e31_99">696</span><span class="e31_103">696</span>
            </div>
          </div>
        </div>
      </div>
      <div class="e31_141"></div>
      <div class="e76_39">
        <div class="e76_40">
          <span class="e76_41">Total Points: </span
          ><span class="e76_42">105</span
          ><span class="e76_43">Total Hours Spent: </span
          ><span class="e76_44">20</span
          ><span class="e76_45">Total Events Attended: </span
          ><span class="e76_46">20</span
          ><span class="e76_47">Total Activities Hosted: </span
          ><span class="e76_48">20</span>
        </div>
        <div class="e76_108">
          <div class="e76_50"></div>
          <div class="e76_52">
            <span class="e76_53">~Badges~</span>
            <div class="e76_54">
              <div class="e76_55"></div>
              <div class="e76_56"></div>
              <div class="e76_57"></div>
              <div class="e76_58"></div>
            </div>
          </div>
          <div class="e76_51"></div>
        </div>
        <div class="e76_102">
          <span class="e76_59">Zaviee</span>
          <div class="e76_62"></div>
        </div>
        <span class="e76_60">~Joined on 06.04.2023 ~ </span>
        <div class="e76_67"></div>
      </div>
    </div>
  </body>
</html>
