<div class="eventPreview">
  <img class="eventimg" src="/asset/1.png" />
  <a>Insane title - null null null null</a>
  <p>username posted 12 mins ago</p>
  <h3>696</h3>
  <img class="check" src="/asset/check.png" />
</div>
