<div class="eventPreview">
  <img class="eventimg" src="/asset/1.png" />
  <a href="/post?id={{ item.id }}">{{ item.name }}</a>
  <p>created by {{ item.author }}</p>
  <h3>{{ item.attendees }}</h3>
  <img class="check" src="/asset/check.png" />
</div>
