<div class="forumSearch">
  <div>
    <input
      type="checkbox"
      id="allPosts"
      name="allPosts"
      value="allPosts"
      checked
    />
    <label>All Posts</label>
  </div>
  <div>
    <div>
      <input
        type="checkbox"
        id="workshops"
        name="workshops"
        value="workshops"
      />
      <label>Workshops</label>
    </div>
    <div>
      <input
        type="checkbox"
        id="campaigns"
        name="campaigns"
        value="campaigns"
      />
      <label>Campaigns</label>
    </div>
    <div>
      <input type="checkbox" id="seminars" name="seminars" value="seminars" />
      <label>Seminars</label>
    </div>
    <div>
      <input type="checkbox" id="miss" name="miss" value="miss" />
      <label>Miscellaneous</label>
    </div>
  </div>
</div>
